#layout {
  height: 100%;

  #sidebar {
    .container {
      height: 100%;
      display: flex;
      flex-direction: column;

      .logo {
        display: flex;
        height: 64px;
        line-height: 64px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        user-select: none;
        img {
          height: 100%;
        }
      }

      .menu {
        flex: 1;
      }
    }
  }

  #header {
    background-color: #f9f9f9;
    text-align: right;
  }

  #content {
    padding: 16px;
    display: flex;

    > .card {
      flex: 1;
    }
  }

  #footer {
    text-align: center;
  }
}
